.category {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.2); /* Adjusted transparency for the border */
  border-radius: 20px; /* Adjust the border-radius for a circular effect */
  overflow: hidden;
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)); /* Adjusted transparency for the gradient */
  color: #fff;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.15); /* Increased shadow for a frostier effect */
  transition: box-shadow 0.3s ease; /* Added transition for a smooth effect on hover or state change */
}


  .category:hover{
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a box shadow on focus */
  }
  .nameAndImage {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
  }
  .cat-name {
    font-size: 25px;
    text-align: center;
    margin: 25px;
    font-weight: bold;
    
  }
  
  .star-row {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-weight: normal;
    font-size: 18px;
  }
  .image {
    width: 70px;
    height: 70px;
  }
  
  .image img {
    
    max-width: 100%;
    max-height: 100%;
  }