

ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    z-index: 1;
    width:100%;
    max-height: 100%;
    overflow-y:auto;
  }
  
  li {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    width: 300px;
    box-sizing: border-box;
    
    
  }
  
  li:hover {
    background-color: #e0e0e0;
  }
  
  .selected {
    background-color: #d1ffd1; /* Change to your preferred selected color */
  }