
  
  .prof p {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #555; /* Dark gray color for the subtitle */
    margin-top: 5px; /* Add some space above the subtitle */
  }
  
  .prof {
    
    display: flex;

    /*background-color: #ecf0f1; */
    padding: 20px; /* Add padding to the container for better aesthetics */
    max-width: 700px;
    height:350px;
    border-radius: 10px; /* Add rounded corners to the container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    position: relative;
    z-index: 0;
    
    overflow: hidden;
  }
  .prof > * {
    margin-right: 20px; /* Adjust the margin between elements as needed */
  }
  
  .prof > *:last-child {
    margin-right: 0; /* Remove margin for the last child to avoid extra spacing */
  }
  .image {
    flex: 1; /* Allow the image container to grow and take available space */
    position: relative;
    padding: 5px;
    padding-right: 40px;
    width: 50%;
    border-radius: 20px;
  }
  .info {
    flex: 1;
    padding:5px;
    
    width: 50%;
    border: 1px solid #ddd; /* Add border */
    border-radius: 20px; /* Add rounded corners */
    overflow: hidden;
    margin: auto;
    background-color: #ecf0f1; 
    height:300px;
    width:300px;
  }
  
  .info-header {
    background-color: #f0f0f0; /* Add background color to the header */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add border at the bottom of the header */
  }
  
  .info-header h2 {
    margin: 0; /* Remove default margin for h2 */
  }
  
  .info-content {
    padding: 20px; /* Add padding to the content */
  }
  
  .info-content p {
    margin: 0 0 10px 0; /* Adjust margins for paragraphs */
  }