
  
  .prof p {
    text-align: center;
    font-weight: normal;
    color: rgb(231, 75, 130);
    margin-top: 5px; /* Add some space above the subtitle */
    font-size: 20px;
  }
  
  .prof {
    
    display: flex;

    /*background-color: #ecf0f1; */
    padding: 20px; /* Add padding to the container for better aesthetics */
    max-width: 700px;
    height:350px;
    border-radius: 10px; /* Add rounded corners to the container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    position: relative;
    z-index: 0;
    
    overflow: hidden;
  }
  .prof > * {
    margin-right: 20px; /* Adjust the margin between elements as needed */
  }
  
  .prof > *:last-child {
    margin-right: 0; /* Remove margin for the last child to avoid extra spacing */
  }
  .image {
    flex: 1; /* Allow the image container to grow and take available space */
    position: relative;
    padding: 5px;
    padding-right: 40px;
    width: 50%;
    border-radius: 20px;
  }
  .info {
    flex: 1;
    padding: 10px; /* Increased padding for a softer look */
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Adjusted transparency for the border */
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.15); /* Increased shadow for a frostier effect */
    backdrop-filter: blur(15px); /* Increased blur for a frosty appearance */
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    overflow-y: auto;
    margin: auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)); /* Adjusted transparency for the gradient */
    color: #fff;
    height: 300px;
    width: 300px;
    transition: box-shadow 0.3s ease; /* Added transition for a smooth effect on hover or state change */
}
  
  .info-header {
    background-color: #f0f0f0; /* Add background color to the header */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add border at the bottom of the header */
  }
  
  .info-header h2 {
    margin: 0; /* Remove default margin for h2 */
  }
  
  .info-content {
    padding: 20px; /* Add padding to the content */
  }
  
  .info-content p {
    margin: 0 0 10px 0; /* Adjust margins for paragraphs */
  }