.prof h2 {
    text-align: center;
    font-size: 3em;
    margin: 0 auto; /* Center the header horizontally */
    color: #094064; /* Blue color for the title */
    margin-bottom: 10px; /* Add some space below the title */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
  }
  
  .prof p {
    text-align: center;
    font-size: 1.5em;
    color: #555; /* Dark gray color for the subtitle */
    margin-top: 5px; /* Add some space above the subtitle */
  }
  
  .prof {
    background-color: #ecf0f1; /* Light gray background color for the container */
    padding: 20px; /* Add padding to the container for better aesthetics */
    width: 400px;
    border-radius: 10px; /* Add rounded corners to the container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    position: relative;
    z-index: 0;
  }