.rating{
  position: relative;

}

.rating-container {
    
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: center;
    align-items: center;
    left: 300px;
    padding-top: 20px;
    row-gap: 10px; /* Adjust the gap as needed */
    color: #000;
  }
  .styledRating{
    /*border: 1px solid #ccc;*/
    text-align: center;
    border-radius: 5px; /* Adjust the border-radius value */
    width: 180px; /* Adjust the width */
    height: 80px; /* Adjust the height */
    margin-left: 500px;
    /*background-color: rgb(255, 209, 216);*/
    color: indigo
    



  }
  .submit-container{
    text-align: center;
    left: 300px; /* Set the right margin to 300 pixels */
    padding: 10px;
  }
  
  .styledRating:hover {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a box shadow on focus */
  }
  .profileName{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0px; /* Set the right margin to 300 pixels */
    padding: 10px;
    
  }
  .toggle-button {
    position: relative;
    left: 0px;
     /* Center horizontally and skip left 300 pixels */
    top: calc(40% + 50px);
    z-index: 2; /* Set the z-index value */
    padding: 10px 20px;
    font-size: 16px;
  }