.page {
    display: flex;
    padding: 5px;
  }
  
  /*.list {
    width: 310px; 
    border: 1px solid #000; 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 20vh;

  }
  .list:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  }*/

  
  .ratingForm {
    flex-grow: 1; 
  }
  

  .nav {
    background-color: rgb(231, 75, 130);
    width: 100%;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    padding-top: 0px; /* Adjust the padding based on your navbar height */

}

.content-container {
    padding-top: 100px; /* Adjust the padding based on your navbar height */
}