.rating-container {
    
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 340px;
    
    row-gap: 10px; /* Adjust the gap as needed */
  }
  .comment{
    display: flex;
    justify-content: center;

    align-items: center;
    margin-right: 50px;
  }
  .submit-container{
    text-align: center;
    margin-left: 650px;
    margin-top: -60px;

  }
  .styledRating{
    text-align: center;
    margin-left: 1000px;
    margin-top: -150px;
    color: #090080;
    border: 2px solid #090080;
    border-radius: 5px; /* Adjust the border-radius value */
    width: 180px; /* Adjust the width */
    height: 80px; /* Adjust the height */
  }
  .styledRating:hover {
    outline: none; /* Remove the default focus outline */
    color: rgb(8, 17, 143);
    border-color: #090080; /* Change the border color on focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a box shadow on focus */
  }
  .profileName{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin-top: 20px;
    margin-left: 140px;
    
  }