button{
  background-color:  rgb(231, 75, 130);
  transition: transform 0.3s ease, background-color 0.3s ease;

}

button:hover {
  transform: scale(1.1); /* Scale the button on hover */
  background-color: rgb(255, 209, 216); /* Change the background color on hover */
}