body {
    text-align: center;
    
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0; /* Remove default margin to ensure full coverage */
    background-image: linear-gradient(0deg, #c48fbd, #f4857b 48%, #fccf76);
    color: white; /* Set text color to ensure it's visible on the gradient */
  }

.gallery{
    float:right;
    width: 70%;
}
.search{
    float:left;
    padding-left: 100px;
    width: 30%;
}
.search-personal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav {
    background-color: rgb(231, 75, 130);
    width: 100%;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    padding-top: 0px; /* Adjust the padding based on your navbar height */

}

.content-container {
    padding-top: 125px; /* Adjust the padding based on your navbar height */
}