body {
    text-align: center;
    
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0; /* Remove default margin to ensure full coverage */
    background-image: linear-gradient(0deg, #c48fbd, #f4857b 48%, #fccf76);
    color: white; /* Set text color to ensure it's visible on the gradient */
  }

.gallery{
    float:right;
    width: 70%;
}
.search{
    
    width: 40%;
}

.search-info-wrapper {
    display: flex; /* Use flexbox to arrange child elements in a row */
  }
  
  .search,
  .gender-drop {
    flex: 1; /* Make both elements share the available space equally */
    margin-right: 10px; /* Add some space between the elements */
  }
  
  /* Adjust styling for the TextField if needed */
  .search .MuiInputBase-root {
    height: 100%; /* Make the TextField take the full height of its parent */
  }

.search-personal{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.personal-info-wrapper{
    display: flex;
    margin-left: 25px;
}

.nav {
    background-color: rgb(231, 75, 130);
    width: 100%;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    padding-top: 0px; /* Adjust the padding based on your navbar height */

}

.content-container {
    padding-top: 125px; /* Adjust the padding based on your navbar height */
}